/* 글로벌 스타일 */
@charset "UTF-8";

/* 컨테이너 */
#container {
  display: flex;
  width: 100%;
  height: 170px;
}

/* 왼쪽 박스 */
#box-left {
  background: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 가운데 박스 */
#box-center {
  background: white;
  flex: 3;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

/* 오른쪽 박스 */
#box-right {
  background: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 채널 로고 */
.channel-logo {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.channel-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 채널 프로필 */
.channel-profile {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
}

.channel-profile img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: scale(1.4);
}

/* 구독 버튼 */
.subcribe img {
  width: 125px;
  height: 30px;
  display: block;
  background: url('image/subcribe.png') no-repeat;
  background-size: 100% 100%;
  transition: background-image 0.3s ease;
  cursor: pointer;
  position: relative;
  top: -20px;
  left: -10px;
}

.subcribe img:hover {
  background-image: url('image/hoversubcribe.png');
}

.subcribe button {
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

#subBtn {
  background-color: red;
  color: #fff;
}

#dissubBtn {
  background-color: #b2b2b2;
  color: black;
}

/* 네비게이션 */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-bottom: none;
  border-bottom: 1px solid #000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.navigation a {
color: #666;
text-decoration: none;
margin-right: 10px;
position: relative;
transition: color 0.3s ease;
}

.navigation a::before {
content: "";
position: absolute;
bottom: -2px;
left: 0;
right: 0;
height: 2px;
background-color: #888;
transform: scaleX(0);
transition: transform 0.3s ease-in-out;
}

.navigation a:hover {
color: #666;
font-weight: bold;
}

.navigation a:hover::before {
transform: scaleX(1);
}

.navigation .current-page {
font-weight: bold;
}

/* 검색 아이콘 */
.search-icon {
cursor: pointer;
}

/* 섹션 */
section {
margin-top: 20px;
display: flex;
justify-content: center;
flex-direction: column;
}

section .video {
display: flex;
align-items: center;
margin-bottom: 20px;
margin-top: 30px;
}

section .video iframe {
margin-right: 25px;
}

/* 컨테이너 */
#container {
display: flex;
width: 100%;
height: 170px;
}

/* 왼쪽 박스 */
#box-left {
background: white;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

/* 중간 박스 */
#box-center {
background: white;
flex: 3;
display: flex;
align-items: flex-start;
text-align: left;
}

/* 오른쪽 박스 */
#box-right {
background: white;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/* 채널 로고 */
.channel-logo {
width: 100%;
max-height: 180px;
overflow: hidden;
transition: max-height 0.5s ease;
}

.channel-logo img {
width: 100%;
height: auto;
object-fit: cover;
}

/* 채널 프로필 */
.channel-profile {
width: 115px;
height: 115px;
border-radius: 50%;
overflow: hidden;
}

.channel-profile img {
width: 100%;
height: auto;
display: block;
margin: 0 auto;
transform: scale(1.4);
}

/* 구독 버튼 */
.subcribe img {
width: 125px;
height: 30px;
display: block;
background-image: url('image/subcribe.png');
transition: background-image 0.3s ease;
cursor: pointer;
position: relative;
top: -20px;
left: -10px;
}

.subcribe img:hover {
background-image: url('image/hoversubcribe.png');
}

.subcribe #subBtn {
background-color: red;
color: #fff;
padding: 8px 30px;
border: 0;
outline: 0;
border-radius: 4px;
cursor: pointer;
}

.subcribe #dissubBtn {
background-color: #b2b2b2;
color: black;
padding: 8px 30px;
border: 0;
outline: 0;
border-radius
