@charset "UTF-8";

#container {
	display: flex;
	width: 100%;
	height: 170px;
}

#box-left {
	background: white;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#box-center {
	background: white;
	flex: 3;
	display: flex;
	align-items: flex-start;
	text-align: left;
	
}

#box-right {
	background: white;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.channel-logo {
	width: 100%;
	max-height: 180px;
	overflow: hidden;
	transition: max-height 0.5s ease;
}

.channel-logo img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.channel-profile {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	overflow: hidden;
}

.channel-profile img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	transform: scale(1.4); /* 이미지를 140% 크기로 확대합니다 */
}

.subcribe img {
	width: 125px;
	height: 30px;
	display: block;
	/* 초기 이미지 설정 */
	background-image: url('image/subcribe.png');
	/* 다른 이미지로 변경할 때의 설정 */
	transition: background-image 0.3s ease;
	/* 커서 변경 */
	cursor: pointer;
	/* 왼쪽 위로 약간 이동 */
	position: relative;
	top: -20px;
	left: -10px;
}

/* 호버 상태일 때 이미지 변경 */
.subcribe img:hover {
	background-image: url('image/hoversubcribe.png');
}

.subcribe #subBtn {
	background-color: red;
	color: #fff;
	padding: 8px 30px;
	border: 0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}

.subcribe #dissubBtn {
	background-color: #b2b2b2;
	color: black;
	padding: 8px 30px;
	border: 0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}

/* -navigation */
.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	padding: 10px;
	border-bottom: none;
	border-bottom: 1px #000;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.navigation a {
	color: #666;
	text-decoration: none;
	margin-right: 10px;
	position: relative; /* 상대 위치 설정 */
	transition: color 0.3s ease;
}

.navigation a::before {
	content: "";
	position: absolute;
	bottom: -2px; /* 아래쪽으로 2px만큼 위치 */
	left: 0;
	right: 0;
	height: 2px;
	background-color: #888; /* 선 색상 설정 (변경) */
	transform: scaleX(0); /* 초기에 선을 가로로 0으로 설정 */
	transition: transform 0.3s ease-in-out;
}

.navigation a:hover {
	color: #666;
	font-weight: bold;
}

.navigation a:hover::before {
	transform: scaleX(1); /* 마우스 호버 시 선 가로로 펴지도록 설정 */
}

/* 현재페이지 */
.navigation .current-page {
	font-weight: bold; /* 폰트 굵게 변경 */
}

/* 이미지에 마우스 포인터를 변경 */
.search-icon {
	cursor: pointer;
}

/* section */
section {
	margin-top: 20px; /* 섹션과의 간격 조정 */
	display: flex; /* 동영상 섹션 내의 요소들을 가로로 배열 */
	justify-content: center; /* 가로 방향으로 중앙 정렬 */
	flex-direction: column; /* 요소들을 세로로 배열 */
}

section .video {
	display: flex; /* 동영상과 정보를 가로로 배열 */
	align-items: center; /* 세로 방향으로 중앙 정렬 */
	margin-bottom: 20px; /* 동영상과 정보 사이의 간격 조정 */
	margin-top: 30px; /* 동영상의 상단 간격을 30px로 조정 */
}

section .video iframe {
	margin-right: 25px; /* 동영상과 정보 사이의 간격 조정 */
}

#middle {
	display: flex;
}

#middle-left {
	background: white;
	flex-basis: 300px;
}

#middle-right {
	text-align: center;
}