@charset "UTF-8";
#join {width:500px; margin:0 auto;}
#header{
	border:1px solid #aaa; width:100%; height:550px;
	padding:15px 30px;
	border-radius:5px; 
	margin-bottom:20px;
	margin-top: 150px
	
}
#join h1{
text-align:center;
margin-top:20px;
}
#join h1:nth-child(2) {margin-top:20px; font-size:30px; font-weight:500;}
#join h1 img {width:120px; height: 35px}
#join h2 {
margin-top:20px; 
margin-bottom:20px; 
margin-right:30px;
margin-left:30px;
font-weight:500;}
#join .bottom {
	display:flex; flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 70px;
}
#join .bottom .back {
	color:#1a73e8;
}
#join footer {
	margin-top:20px;
	display:flex; flex-flow:row nowrap;
	justify-content:space-between;
}

.outBox {margin:20px auto; padding:1px; width:400px;}
.outBox .inputBox {position:relative; height:50px;}
.outBox .inputBox input[type="text"] {padding:0 10px; width:100%; height:50px; font-size:14px; box-sizing:border-box; border:1px solid #999; outline:none; border-radius:6px;}
.outBox .inputBox label {position:absolute; left:0; bottom:0; padding:0 6px; color:#999; font-size:14px; font-weight:normal; background:#fff; transform:scale(1) translate(4px, -18px); transition:all .15s; pointer-events:none;}
.outBox .inputBox input[type="text"]:focus,
.outBox.existence .inputBox input[type="text"] {border:2px solid blue;}
.outBox .inputBox input[type="text"]:focus + label,
.outBox.existence .inputBox label {color:blue; transform:scale(.85) translate(-10px, -48px);}