@charset "UTF-8";
#search {width:500px; margin:0 auto;}
#header{
	border:1px solid #aaa; width:100%; height:550px;
	padding:15px 30px;
	border-radius:5px; 
	margin-bottom:20px;
	margin-top: 150px
}
#search h1, #search h2 {text-align:center;}
#search h1 {margin-top:20px;}
#search h1:nth-child(2) {margin-top:20px; font-size:30px; font-weight:500;}
#search h1 img {width:120px; height: 35px}
#search h2 {
margin-top:20px; margin-bottom:30px;  font-size:22px; font-weight:500;
}
#search #rrnDiv{
	padding-top: 1px;
	margin-top: 1px;
	margin-left: 40px;
}
#search .bottom {
	display:flex; flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 50px;
}
.box{
	margin-left:40px;
	margin-left:40px;
}

.outBox1 {width:170px; display:inline-block;}
.outBox1 .inputBox1 {position:relative; height:50px;}
.outBox1 .inputBox1 input[type="text"] {padding:0 10px; width:100%; height:50px; font-size:14px; box-sizing:border-box; border:1px solid #999; outline:none; border-radius:6px;}
.outBox1 .inputBox1 label {position:absolute; left:0; bottom:0; padding:0 6px; color:#999; font-size:14px; font-weight:normal; background:#fff; transform:scale(1) translate(4px, -18px); transition:all .15s; pointer-events:none;}
.outBox1 .inputBox1 input[type="text"]:focus,
.outBox1.existence .inputBox1 input[type="text"] {border:2px solid blue;}
.outBox1 .inputBox1 input[type="text"]:focus + label,
.outBox1.existence .inputBox1 label {color:blue; transform:scale(.85) translate(-10px, -48px);}

.outBox2 {margin-top:auto;
		 margin-bottom:5px;
		 margin-right:auto;
		 margin-left:auto;	
		 padding:1px; 
		 width:170px; 
		 display:inline-block;
}
.outBox2 .inputBox2 {position:relative; height:50px;}
.outBox2 .inputBox2 input[type="password"] {padding:0 10px; width:100%; height:50px; font-size:14px; box-sizing:border-box; border:1px solid #999; outline:none; border-radius:6px;}
.outBox2 .inputBox2 label {position:absolute; left:0; bottom:0; padding:0 6px; color:#999; font-size:14px; font-weight:normal; background:#fff; transform:scale(1) translate(4px, -18px); transition:all .15s; pointer-events:none;}
.outBox2 .inputBox2 input[type="password"]:focus,
.outBox2.existence .inputBox2 input[type="password"] {border:2px solid blue;}
.outBox2 .inputBox2 input[type="password"]:focus + label,
.outBox2.existence .inputBox2 label {color:blue; transform:scale(.85) translate(-10px, -48px);}